<!-- /snippets/carousel.liquid -->
{% comment %}

Shows carousel of brands on homepage

{% endcomment %}

<section id="HomepageCarousel" class="homepage--carousel">
    <div data-slick='{"slidesToShow": 4, "slidesToScroll": 2}' class="carousel">
        {% if settings.homepage_carousel_1 %}
            <div class="single-slide" data-id="1">
                <img src="{{ 'homepage_carousel_image_1.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_1 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_2 %}
            <div class="single-slide" data-id="2">
                <img src="{{ 'homepage_carousel_image_2.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_2 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_3 %}
            <div class="single-slide" data-id="3">
                <img src="{{ 'homepage_carousel_image_3.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_3 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_4 %}
            <div class="single-slide" data-id="4">
                <img src="{{ 'homepage_carousel_image_4.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_4 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_5 %}
            <div class="single-slide" data-id="5">
                <img src="{{ 'homepage_carousel_image_5.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_5 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_6 %}
            <div class="single-slide" data-id="6">
                <img src="{{ 'homepage_carousel_image_6.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_6 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_7 %}
            <div class="single-slide" data-id="7">
                <img src="{{ 'homepage_carousel_image_7.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_7 }}"/>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_8 %}
            <div class="single-slide" data-id="8">
                <img src="{{ 'homepage_carousel_image_8.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_8 }}"/>
            </div>
        {% endif %}
    </div>
</section><!-- #HomepageSlideshow -->

