<!-- /snippets/carousel.liquid -->
{% comment %}

Shows carousel of brands on homepage

{% endcomment %}

<section id="HomepageCarousel" class="homepage--carousel">
    <div data-slick='{"slidesToShow": 4, "slidesToScroll": 2}' class="carousel">
        {% if settings.homepage_carousel_1 %}
            <div data-id="1">
            <a href="{{ settings.homepage_carousel_title_1 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_1.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_1 }}"/>
                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_2 %}
            <div data-id="2">
                <a href="{{ settings.homepage_carousel_title_2 }}" class="vac">
                    <img src="{{ 'homepage_carousel_image_2.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_2 }}"/>
                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_3 %}
            <div data-id="3">
            <a href="{{ settings.homepage_carousel_title_3 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_3.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_3 }}"/>
                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_4 %}
            <div data-id="4">
            <a href="{{ settings.homepage_carousel_title_4 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_4.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_4 }}"/>
                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_5 %}
            <div data-id="5">
            <a href="{{ settings.homepage_carousel_title_5 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_5.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_5 }}"/>

                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_6 %}
            <div data-id="6">
            <a href="{{ settings.homepage_carousel_title_6 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_6.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_6 }}"/>

                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_7 %}
            <div data-id="7">
            <a href="{{ settings.homepage_carousel_title_7 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_7.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_7 }}"/>

                </a>
            </div>
        {% endif %}
        {% if settings.homepage_carousel_8 %}
            <div data-id="8">
            <a href="{{ settings.homepage_carousel_title_8 }}" class="vac">
                <img src="{{ 'homepage_carousel_image_8.jpg' | asset_url }}" alt="{{ settings.homepage_carousel_title_8 }}"/>

                </a>
            </div>
        {% endif %}
    </div>
</section><!-- #HomepageSlideshow -->

