<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}
  <div class="grid__item large--one-whole">

      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
            <ul class="clearfix filters">
              <li class="clearfix filter">
                {% assign tags = 'Ford, Holden, Toyota, BMW, Daewoo, Volkswagen, Mitsubishi, Nissan, Valiant, Rover, Subaru, Honda, Hyundai, Suzuki, Jeep, Mazda, Daihatsu, Morris, Studebaker, Vauxhall, ALFETTA, ALFA, AUSTIN, CHEVROLET, CHRYSLER/MITSUBISHI, DATSUN/NISSAN, NISSAN/DATSUN, FIAT, HILLMAN, HONDA, HUMMER, HYUNDAI, JAGUAR, KIA, LEYLAND, LADA, MERCEDES-BENZ, PEUGEOT, RAMBLER, RENAULT, SAAB, SUZUKI, TRIUMPH, VOLVO, FORD, HOLDEN, TOYOTA, BMW, DAEWOO, VOLKSWAGEN, MITSUBISHI, NISSAN, VALIANT, ROVER, SUBARU, HONDA, HYUNDAI, SUZUKI, JEEP, MAZDA, DAIHATSU, MORRIS, STUDEBAKER, VAUXHALL, Alfetta, Alfa, Austin, Chevrolet, Chrysler/Mitsubishi, Datsun/Nissan, Nissan/Datsun, Fiat, Hillman, Honda, Hummer, Hyundai, Jaguar, Kia, Leyland, Lada, Mercedes-benz, Peugeot, Rambler, Renault, Saab, Suzuki, Triumph, Volvo' | split: ',' %}
                <h4>Choose your Vehicle Make:</h4>
                <select class="coll-filter" id="make-filter">
                  <option value="">All</option>
                  {% for t in tags %}
                  {% assign tag = t | strip %}
                  {% if current_tags contains tag %}
                  <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                  {% elsif collection.all_tags contains tag %}
                  <option value="{{ tag | handle }}">{{ tag }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </li>
            </ul>
        </header>
  </div>