<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}
  <div class="grid__item large--one-whole">

      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
            <ul class="clearfix filters">
              <li class="clearfix filter">
                {% assign tags = 'ALFA, Alfa, ALFETTA, Alfetta, AUSTIN, Austin, BMW, CHEVROLET, Chevrolet, CHRYSLER/MITSUBISHI, Chrysler/Mitsubishi, Daewoo, DAEWOO, Daihatsu, DAIHATSU, DATSUN/NISSAN, Datsun/Nissan, FIAT, Fiat, FORD, Ford, HILLMAN, Hillman, Holden, HOLDEN, Honda, HONDA, HONDA, Honda, HUMMER, Hummer, Hyundai, HYUNDAI, HYUNDAI, Hyundai, JAGUAR, Jaguar, Jeep, JEEP, KIA, Kia, LADA, Lada, LEYLAND, Leyland, MAN, Man, Mazda, MAZDA, MERCEDES-BENZ, Mercedes-benz, Mercedes, MERCEDES, Mitsubishi, MITSUBISHI, Morris, MORRIS, Nissan, NISSAN, NISSAN/DATSUN, Nissan/Datsun, PEUGEOT, Peugeot, RAMBLER, Rambler, RENAULT, Renault, Rover, ROVER, SAAB, Saab, Studebaker, STUDEBAKER, Subaru, SUBARU, Suzuki, SUZUKI, SUZUKI, Suzuki, Toyota, TOYOTA, TRIUMPH, Triumph, Valiant, VALIANT, Vauxhall, VAUXHALL, Volkswagen, VOLKSWAGEN, VOLVO, Volvo' | split: ',' %}
                <h4>Filter by Make:</h4>
                <select class="coll-filter" id="make-filter">
                  <option value="">All</option>
                  {% for t in tags %}
                  {% assign tag = t | strip %}
                  {% if current_tags contains tag %}
                  <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                  {% elsif collection.all_tags contains tag %}
                  <option value="{{ tag | handle }}">{{ tag }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </li>
              <li class="clearfix filter" id="model-filter">
                {% assign tags = '6, 121, 124, 125, 128, 130, 131, 131, 132, 132, 144, 146, 164, 190, 220, 240, 240, 240, 240, 244, 245, 250, 260, 280, 280, 300, 306, 323, 340, 380, 404, 405, 408, 440, 500, 504, 505, 600, 620, 626, 709, 740, 760, 808, 850, 900, 912, 929, 1000, 1000, 1100, 1100, 1200, 1200, 1300, 1300, 1500, 1500, 1517, 1600, 1600, 1800, 2300, 2300, 2434, 2435, 2635, 3500, 20000, 100/200 Series, 120Y, 122S, 180B, 1938-1948, 1953-1954, 1959-1962, 200B, 300C, 300GD, 3181Sedan, 31s, 323-318LSedan, 4-door-sedan, 520J-5281-Sedan, 940GL, A50, A60, A99, Accent, Accord, Acity, Actross, Alto, American, AP5/6 &-VC VC, Apollo, Applause, APV, Argosy, Asia, astra, Astra, Atego, Audi, Aurion, Avalon, Axor, B1500, B1600, B1800, B2000, B2200, B2600, barina, Barina, Beetle, belair, biscayne, Bluebird, Bongo, Bravo, Bronco, Brumby, BT 50, C20, C80, Caball, Camry, Canter, capri, Carnival, Carry, Celica, Centura, Century Class, Cerato, Ceres, Cevaro, Challenger, Charade, Charger, Cherokee, Civic, Civilian Bus, CL, CL, CM, CM, Coaster, Colt, commodore, Commodore, Commodore, compact, Compass, Condor, Corolla, Corona, corsair, Cortina, Coupe, courier, Cressida, Crown, CRV, customline, DA115, Delta, Discovery, Dolomite, Dolphin, Ducato, Dutro, Dyna, E1300, E1600, E1800, E2000, E2200, E23, E24, E2500, E3800, E4100, EA, EB, ED, EF, EH, eh-sedan, eh-ute, eh-wagon, EJ, EJ, ej-ute, EK, EK, ek-sedan, ek-ute, EL, escort, Excel, Excel, Express, F10, F10, F100, F12, F150, F170, F20, F2000, F250, F350, F40, F7, F702, F86, F90, Fairlane, Falcon, Fastback, FB, FC, FE, Feroza, festiva, Fighter, Fiori, FJ-40, FJ-40, FJ-45, FJ-55, FK, FL10, FL7, FLA, FLB, FLL, FM, focus, Forester, Freightliner, FV, FX, G86, G88, Galant, galaxie, Gemini, GJ, GK, Golf, Grand Vitara, H9R, Hatch, HD, HD, Hemi 6, Herald, HG, HG, Hi-Ace, Hi-Lux, HJ, HJ, HJ, HJ, HK, Holden Universal, Hornet, HQ, HQ, HR, HT, HT, Husky, HX, HZ, HZ, i30, iLoad, iMax, Imp, impala, Impreza, Isseta-300, jackaroo, JB, Jimny, KA, Kangoo, Karmann Ghia, KE, Kluger, Kombi, L2000, L2000, Lancer, Lancer, Landcruiser, Lantra, Lark, Laser, laser, LC, Leone, Lexcen, LH, LH, LH-UC, LHR, Liberty, Lift Up Rear, Lite-Ace, LO-812, Louisville, LT31, LT35, Ltd, LX, LX, Magna, Magnette, mainline, Major, malibu, Marina, Matador, maverick, MB100, MB140, meteor, Micra, Mighty Boy, Mini, Minx, Mira, MK Condor, monaro, Morris 1100, Morris Minor, MPV, Mustang, N Series, N-Series, Navara, NC, Nimbus, Niva, Nomad, Notchback, Outlander, Oxford, P76, Pajero, Pajero, parisienne, Parkway, Passat, Pathfinder, Patrol, PK Condor, Prado, Pregio, Prelude, PT-Cruiser, Pulsar, Pyzar, Quintet, R &-S-SERIES, R10, R12, R16, R18, R20, R8, Range Rover, Ranger, ranger, Rav-4, RB8, Rebel, Regatta, Renegade, RN, Rocky, rodeo, rodeo, Rosa, Royal Dodge, RT, RV1, RX2, RX4, S60, S70, Santa Fe, Scat, Scenic, Scorpion, scurry, Sedan, Sherpa, shuttle, Sierra, Sigma, Sigma, Skyline, Slant 6, Sonata, Sportage, Sprinter, Sprinter, ST, Stanza, Starlet, Station Wagon, suburban, Sunny, Super Bug, Supra, SV1, Swift, T Series, T300, T3500, T4100, Tarago, TC, telstar, Tercel, TGA, Thunderbird, Tiida, torana, Torana-LC, torana-LJ, Townace, Toyo Ace, trader, transit, Transporter, Triton, TU 2700, Tucson, UC, UD, Unimog, Urvan, Ute, V10, V8, Valiant, VB, VE, VE, VF, VF-G, VF/G, VG, VH, VH, VIP, Vitara, VJ, VJ, VK, VK, VK, VL, VT, WA, wagon-sides, WB, WB, X-Trail, XA, XB, Xc, Xc, XD, Xe, Xf, XG, xj6, XK, XL, Xl, XM, XP, XR, XT, XT, XW, XW, XY, Yaris, ZA, ZB, Zephyr, ZH, ZJ, ZK, ZL, Zodiac' | split: ',' | uniq %}
                <h4>Filter by Model:</h4>
                <select class="coll-filter">
                  <option value="" id="all-reset">All</option>
                  {% for t in tags %}
                  {% assign tag = t | strip %}
                  {% if current_tags contains tag %}
                  <option value="{{ tag | handle }}" selected>{{ tag | capitalize }}</option>
                  {% elsif collection.tags contains tag %}
                  <option value="{{ tag | handle }}">{{ tag | capitalize }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </li>              
            </ul>
        </header>
  </div>