<!-- /snippets/collection-sidebar.liquid -->
{% comment %}

  Side navigation for the product types, vendors, and tags.
  These can be based on the current collection or all products. Details in comments below.

  Note: Clicking on a tag will filter the products within the current collection.
  Clicking on a type or vendor link will take you out of the current collection
  to a standalone collection page. E.g. /collections/vendors?q=Pepsi

{% endcomment %}
  <div class="grid__item large--one-whole">

      <header class="section-header">
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
            <ul class="clearfix filters">
              <li class="clearfix filter">
                {% assign tags = 'ALFA, Alfa, ALFETTA, Alfetta, AUSTIN, Austin, BMW, CHEVROLET, Chevrolet, CHRYSLER/MITSUBISHI, Chrysler/Mitsubishi, Daewoo, DAEWOO, Daihatsu, DAIHATSU, DATSUN/NISSAN, Datsun/Nissan, FIAT, Fiat, FORD, Ford, HILLMAN, Hillman, Holden, HOLDEN, Honda, HONDA, HONDA, Honda, HUMMER, Hummer, Hyundai, HYUNDAI, HYUNDAI, Hyundai, JAGUAR, Jaguar, Jeep, JEEP, KIA, Kia, LADA, Lada, LEYLAND, Leyland, Mazda, MAZDA, MERCEDES-BENZ, Mercedes-benz, Mitsubishi, MITSUBISHI, Morris, MORRIS, Nissan, NISSAN, NISSAN/DATSUN, Nissan/Datsun, PEUGEOT, Peugeot, RAMBLER, Rambler, RENAULT, Renault, Rover, ROVER, SAAB, Saab, Studebaker, STUDEBAKER, Subaru, SUBARU, Suzuki, SUZUKI, SUZUKI, Suzuki, Toyota, TOYOTA, TRIUMPH, Triumph, Valiant, VALIANT, Vauxhall, VAUXHALL, Volkswagen, VOLKSWAGEN, VOLVO, Volvo' | split: ',' %}
                <h4>Filter by Make:</h4>
                <select class="coll-filter" id="make-filter">
                  <option value="">All</option>
                  {% for t in tags %}
                  {% assign tag = t | strip %}
                  {% if current_tags contains tag %}
                  <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                  {% elsif collection.all_tags contains tag %}
                  <option value="{{ tag | handle }}">{{ tag }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </li>
              <li class="clearfix filter" id="model-filter">
                {% assign tags = 'BELAIR, Belair, belair' | split: ',' %}
                <h4>Filter by Model:</h4>
                <select class="coll-filter">
                  <option value="">All</option>
                  {% for t in tags %}
                  {% assign tag = t | strip %}
                  tag
                  {% if current_tags contains tag %}
                  <option value="{{ tag | handle }}" selected>{{ tag }}</option>
                  {% elsif collection.all_tags contains tag %}
                  <option value="{{ tag | handle }}">{{ tag }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </li>              
            </ul>
        </header>
  </div>