<!-- /snippets/collections-menu.liquid -->
{% comment %}

  Side nav that shows up on all page on the left hand side and lists the collections as a menu

{% endcomment %}

{% comment %}
  List of the Collections
{% endcomment %}
<nav role="navigation" class="grey sidebar-nav" id="sidebar-nav">
	<ul class="grey sidebar-links" id="accordion">

  		{% for link in linklists.side-menu-collections.links %}
	    {% assign child_list_handle = link.title | handle %}
	    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
	    <li class="has-dropdown">
	    	<a>
	      {{ link.title }}
	    	  </a>
	      <ul class="grey sidebar-links slide-down">

	        {% for child_link in linklists[child_list_handle].links %}
	        {% assign grand_child_list_handle = child_link.title | handle %}
	        {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
	        <li class="">
	          {{ child_link.title | link_to: child_link.url }}
	          <ul>
	            {% for grand_child_link in linklists[grand_child_list_handle].links %}
	            <li>
	              {{ grand_child_link.title | link_to: grand_child_link.url }}
	            </li>
	            {% endfor %}
	          </ul>
	        </li>
	        {% else %}
	        <li>
	          {{ child_link.title | link_to: child_link.url }}
	        </li>
	        {% endif %}
	        {% endfor %}
	       	<li class="all-brand-link">
	      	 	{{ link.title | link_to: link.url }}
	      	 </li>        
	      </ul>
	    </li>
	    {% else %}
	    <li>
	      {{ link.title | link_to: link.url }}
	    </li>
	    {% endif %}
	    {% endfor %}

	</ul>
</nav>


