<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
    {{ '//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' | stylesheet_tag }}
    {{ '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css' | stylesheet_tag }}
    {{ '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css' | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {{ '//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js' | script_tag }}
  {{ '//cdn.jsdelivr.net/lettering/0.7.0/jquery.lettering.min.js' | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'magiczoom.css' | asset_url | stylesheet_tag }}
  {{ 'magiczoom.js' | asset_url | script_tag }}

  {% comment %}
    Call sliders in the head so they load well
  {% endcomment %}  

    <script type="text/javascript">
    jQuery(document).ready(function(){

        $(".word_split").lettering('words');

        $('.slides').slick({
          dots: true,
          speed: 500,
          autoplay: true,
          autoplaySpeed: 3500,
            nextArrow: '<div class="directionNav"><a class="nextNav"><i class="ion-ios-arrow-forward"></i><span></span></a></div>',
            prevArrow: '<div class="directionNav"><a class="prevNav"><i class="ion-ios-arrow-back"></i><span></span></a></div>'
        });

      });
    </script>

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div id="NavDrawer" class="drawer drawer--left">
    <div class="drawer__header">
      <div class="drawer__title h3">{{ 'layout.drawers.browse' | t }}</div>
      <div class="drawer__close js-drawer-close">
        <button type="button" class="icon-fallback-text">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
        </button>
      </div>
    </div>
    <!-- begin mobile-nav -->
    <ul class="mobile-nav">
      <li class="mobile-nav__item mobile-nav__search">
        {% include 'search-bar' %}
      </li>
      {% for link in linklists.main-menu.links %}
        {% comment %}
          Create a dropdown menu by naming a linklist the same as a link in the parent nav

          More info on dropdowns:
            - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
        {% endcomment %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}" aria-haspopup="true">
            <div class="mobile-nav__has-sublist">
              <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
              <div class="mobile-nav__toggle">
                <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="fallback-text">See More</span>
                </button>
                <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
                </button>
              </div>
            </div>
            <ul class="mobile-nav__sublist">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="mobile-nav__item {% if childlink.active %} mobile-nav__item--active{% endif %}">
                  <a href="{{ childlink.url }}" class="mobile-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="mobile-nav__item{% if link.active %} mobile-nav__item--active{% endif %}">
            <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="mobile-nav__item">
            {% if customer.first_name != blank %}
              {% capture first_name %}{{ customer.first_name }}{% endcapture %}
              <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li class="mobile-nav__item">
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li class="mobile-nav__item">
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      {% endif %}
    </ul>
    <!-- //mobile-nav -->
  </div>
  {% if settings.ajax_cart_method == "drawer" %}
    <div id="CartDrawer" class="drawer drawer--right">
      <div class="drawer__header">
        <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
        <div class="drawer__close js-drawer-close">
          <button type="button" class="icon-fallback-text">
            <span class="icon icon-x" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
          </button>
        </div>
      </div>
      <div id="CartContainer"></div>
    </div>
  {% endif %}
  <div id="PageContainer" class="is-moved-by-drawer">

      <nav class="nav-bar" role="navigation">
          <div class="wrapper" style="display: table;vertical-align: middle;width: 100%;">
              <div class="medium-down--hide" style="display: inline-block">
                  {% comment %}
                  List out your main-menu linklist (default)

                  More info on linklists:
                  - http://docs.shopify.com/themes/liquid-variables/linklists
                  {% endcomment %}
                  <!-- begin site-nav -->
                  <ul class="site-nav orange" id="AccessibleNav">
                      {% for link in linklists.main-menu.links %}
                          {% comment %}
                          Create a dropdown menu by naming a linklist the same as a link in the parent nav

                          More info on dropdowns:
                          - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                          {% endcomment %}
                          {% assign child_list_handle = link.title | handleize %}
                          {% if linklists[child_list_handle].links != blank %}
                              <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                                  <a href="{{ link.url }}" class="site-nav__link">
                                      {{ link.title }}
                                      <span class="icon icon-arrow-down" aria-hidden="true"></span>
                                  </a>
                                  <ul class="site-nav__dropdown">
                                      {% for childlink in linklists[child_list_handle].links %}
                                          <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                          </li>
                                      {% endfor %}
                                  </ul>
                              </li>
                          {% else %}
                              <li {% if link.active %}class="site-nav--active"{% endif %}>
                                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
                  <!-- //site-nav -->
              </div>
              <div class="large--hide medium-down--show">
                  <div class="grid">
                      <div class="grid__item one-half">
                          <div class="site-nav--mobile">
                              <button type="button" class="icon-fallback-text site-nav__link js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
                                  <span class="ion-android-menu" aria-hidden="true"></span>
                                  <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
                              </button>
                          </div>
                      </div>
                      <div class="grid__item one-half text-right">
                          <div class="site-nav--mobile">
                              <a href="/cart" class="js-drawer-open-right site-nav__link" aria-controls="CartDrawer" aria-expanded="false">
                  <span class="icon-fallback-text">
                    <span class="ion-ios-cart-outline" aria-hidden="true">
                    <span id="CartCount">{{ cart.item_count }}</span>
                </span>
                    <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
                  </span>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              {% comment %}
              If customer accounts are enabled, provide login and create account links
              {% endcomment %}
              {% if shop.customer_accounts_enabled %}
              <div class="login__main medium-down--hide" style="display: table-cell;">
                      <i class="ion-ios-contact-outline user-icon"></i>
                  {% if customer %}
                      {% if customer.first_name != blank %}
                          {% capture first_name %}<a href="/account">
                          {{ customer.first_name }}</a>{% endcapture %}
                          {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                      {% else %}
                          <a href="/account">
                          {{ 'layout.customer.account' | t }}</a>
                      {% endif %}
                      | {{ 'layout.customer.log_out' | t | customer_logout_link }}
                  {% else %}
                      {{ 'layout.customer.log_in' | t | customer_login_link }}
                      | {{ 'layout.customer.create_account' | t | customer_register_link }}
                  {% endif %}
              </div>
              {% endif %}
          </div>
      </nav>

      <header class="site-header" role="banner">
        <div class="wrapper">

          <div class="grid--full grid--table">
            <div class="grid__item large--one-third" style="position: relative">
              {% comment %}
              Use the uploaded logo from theme settings if enabled.
              Site name gets precedence with H1 tag on homepage, div on other pages.
              {% endcomment %}
              {% if template == 'index' %}
              <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                {% else %}
                <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                  {% endif %}
                  {% if settings.logo_use_image %}
                    <a href="/" itemprop="url" class="site-header__logo-link">
                      {% include 'logo' %}
                    </a>
                  {% else %}
                    <a href="/" itemprop="url">{{ shop.name }}</a>
                  {% endif %}
                  {% if template == 'index' %}
              </h1>
              {% else %}
            </div>
            {% endif %}
          </div>
          <div class="grid__item large--one-quarter large--text-center medium-down--hide flex v-center">
            <a href="https://goo.gl/maps/4q7jECyxaQu" target="_blank" class="site-header__cart-toggle js-drawer-open-right flex v-center" aria-controls="CartDrawer" aria-expanded="false">            
              <i class="ion-ios-location-outline header-icon"></i>
              {{ shop.address.street }}, {{ shop.address.city }} VIC {{ shop.address.zip }}
             </a> 
          </div>
          <div class="grid__item large--one-quarter large--text-center medium-down--hide flex v-center">
            <a href="tel:{{ shop.phone }}" class="site-header__cart-toggle js-drawer-open-right flex v-center" aria-controls="CartDrawer" aria-expanded="false">          
              <i class="ion-ios-telephone-outline header-icon" style="transform: rotate(45deg)"></i>          
              {{ shop.phone }} 
            </a>
          </div>
          <div class="grid__item large--one-sixth large--text-right medium-down--hide flex v-center">


            {% comment %}
            Show number of items in the cart and total cost in the /cart link

            Ajax Cart Notes:
            - #cartCount updates the total number of items in the cart
            - #cartCost updates the total cost of the cart
            - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            <div>
              <a href="/cart" class="site-header__cart-toggle js-drawer-open-right flex v-center" aria-controls="CartDrawer" aria-expanded="false">
                <span class="ion-ios-cart-outline header-icon" aria-hidden="true">
                  <span id="CartCount">{{ cart.item_count }}</span>
                </span>
                
              </a>
            </div>

          </div>
        </div>

    </div>
  </header>

  <div class="search-header" role="banner">
      <div class="wrapper">
          {% include 'search-bar' %}
      </div>
  </div>

  <div class="nav-header" role="banner">
      <div class="wrapper">
                <!-- begin site-nav -->
                  <ul class="site-nav orange flex wrap medium-down--hide" id="AccessibleNav">
                      {% for link in linklists.product-types-short.links %}
                          {% comment %}
                          Create a dropdown menu by naming a linklist the same as a link in the parent nav

                          More info on dropdowns:
                          - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                          {% endcomment %}


                           {% comment %}
                            Re-enable dropdown for subcategories by adding '!= blank' into if statement
                           {% endcomment %}

                          {% assign child_list_handle = link.title | handleize %}
                          {% if linklists[child_list_handle].links == blank %}
                              <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true"><a href="{{ link.url }}" class="site-nav__link">{% assign words = link.title | split: ' ' %}{% for word in words %}{{ word }}{% if forloop.last == true %}{% else %}<br>{% endif %}{% endfor %}</a>
                                  <ul class="site-nav__dropdown">
                                      {% for childlink in linklists[child_list_handle].links %}
                                          <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                              <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                          </li>
                                      {% endfor %}
                                  </ul>
                              </li>
                          {% else %}
                              <li {% if link.active %}class="site-nav--active"{% endif %}>
                                  <a href="{{ link.url }}" class="site-nav__link">{% assign words = link.title | split: ' ' %}{% for word in words %}{{ word }}{% if forloop.last == true %}{% else %}<br>{% endif %}{% endfor %}</a>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
                  <!-- //site-nav -->
      </div>
  </div>

    <main class="wrapper main-content" role="main">
      <div class="grid">
      {% unless template contains 'account' or template contains 'cart' %}
        <div class="grid__item large--one-quarter medium--one-whole collection-nav">
          {% include 'collections-menu' %}
          {% include 'best-sellers' %}
        </div>
        {% endunless %}
      {% if template contains 'account' or template contains 'cart' %}        
        <div class="grid__item main-section">
          {{ content_for_layout }}
        </div>
      {% else %}
        <div class="grid__item large--three-quarters medium--one-whole main-section">
          {{ content_for_layout }}
        </div>
        {% endif %}
      </div>
      {% if template == 'index' %}
      <div class="grid">

          {% comment %}
          Use slick slider carousel to loop through the brands we stock
          {% endcomment %}

          {% if settings.homepage_slideshow %}
            {% include 'carousel' %}
          {% endif %}

      </div>
      {% else %}
      {% endif %}
    </main>

    <!-- begin site-footer -->
    <footer class="site-footer small--text-center" role="contentinfo">
      <!-- begin info-text -->
      <div class="wrapper footer__section wrapper__tighter">
        <div class="grid flex">
          <div class="grid__item large--one-whole text-center">
            {{ settings.footer_info_text }}
          </div>
        </div>
      </div>
      <!-- end info-text -->
      <!-- begin policies-bar -->      
      <div class="footer__section footer--dark">
        <div class="wrapper">
          <div class="grid flex">
            <div class="grid__item large--one-third medium--one-half">
              <div class="grid flex full-height">
                <div class="grid__item large--one-quarter icon-wrap">
                  <i class="ion-ios-paperplane-outline footer-icon"></i>
                </div>
                <div class="grid__item large--three-quarters pad-right medium-down--text-center">
                  <h3>
                    Delivery
                  </h3>
                  {{ settings.footer_delivery_text }}
                </div>              
              </div>
            </div>
            <div class="grid__item large--one-third medium--one-half">
              <div class="grid flex full-height">
                <div class="grid__item large--one-quarter icon-wrap">
                  <i class="ion-ios-clock-outline footer-icon"></i>
                </div>
               <div class="grid__item large--three-quarters medium-down--text-center">
                  <h3>
                    Store Trading Hours
                  </h3>
                  {{ settings.footer_hours_text }}
                </div>               
              </div>
            </div>
            <div class="grid__item large--one-third medium--one-whole">
              <div class="grid flex full-height">
                <div class="grid__item large--one-quarter icon-wrap">
                  <i class="ion-ios-navigate-outline footer-icon"></i>
                </div>
                <div class="grid__item large--three-quarters medium-down--text-center">
                  <h3>
                    Return Policy
                  </h3>
                  {{ settings.footer_return_policy_text }}
                </div>              
              </div>
            </div>          
          </div>
        </div>
      </div>
      <!-- begin newsletter-bar -->      
      <div class="footer__section">
        <div class="wrapper">
          <div class="grid flex v-center">
            <div class="grid__item large--one-half medium--one-whole text-left medium-down--text-center">
              {% comment %}
                MailChimp is the go-to newsletter service for Shopify.
                Use the link below to find your MailChimp form action
                and insert it in your site settings.

                If the form action URL is not set in the theme settings,
                it will fallback to a customer form so you can still capture the email.

                MailChimp newsletter integration and requirement:
                 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action
              {% endcomment %}
              <div class="grid flex v-center">
                <div class="grid__item large--one-sixth">
                  <i class="ion-ios-email-outline footer-icon"></i>
                </div>
                <div class="grid__item large--five-sixths text-left medium-down--text-center">
                  <h3 style="margin: 0;"> 
                    {{ 'layout.footer.newsletter_title' | t }}
                  </h3>
                </div>              
              </div>
            </div>
            <div class="grid__item large--one-half medium--one-whole text-right">
              {% if settings.newsletter_form_action != blank %}
                <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn__dark" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  </span>
                </form>
              {% else %}
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
                  {% else %}
                    <div class="input-group">
                      <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
                      <input type="hidden" name="contact[tags]" value="newsletter">
                      <span class="input-group-btn">
                        <input type="submit" class="btn btn__dark" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                      </span>
                    </div>
                  {% endif %}
                {% endform %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
      <!-- end newsletter-bar -->
      <!-- begin footer-menus -->                  
      <div class="footer__section">
      <div class="wrapper">
        <div class="grid flex">
            <div class="grid__item large--one-quarter medium--one-third small--one-whole footer-menu-wrap medium-down--text-center">
                <h5>{{ 'layout.footer.first-menu-title' | t }}</h5>
                {% comment %}
                List out your footer-menu linklist (default)

                More info on linklists:
                - http://docs.shopify.com/themes/liquid-variables/linklists
                {% endcomment %}
                <!-- begin site-nav -->
                <ul class="footer-nav orange">
                    {% for link in linklists.footer.links %}
                        {% comment %}
                        Create a dropdown menu by naming a linklist the same as a link in the parent nav

                        More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                        {% endcomment %}
                        {% assign child_list_handle = link.title | handleize %}
                        {% if linklists[child_list_handle].links != blank %}
                            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                                <a href="{{ link.url }}">
                                    {{ link.title }}
                                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                                </a>
                                <ul class="site-nav__dropdown">
                                    {% for childlink in linklists[child_list_handle].links %}
                                        <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                            <a href="{{ childlink.url }}>{{ childlink.title | escape }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li {% if link.active %} class="site-nav--active"{% endif %}>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- //site-nav -->
            </div>
            <div class="grid__item large--one-quarter medium--one-third small--one-whole footer-menu-wrap medium-down--text-center">
                <h5>{{ 'layout.footer.second-menu-title' | t }}</h5>
                {% comment %}
                List out your footer-menu linklist (default)

                More info on linklists:
                - http://docs.shopify.com/themes/liquid-variables/linklists
                {% endcomment %}
                <!-- begin site-nav -->
                <ul class="footer-nav orange">
                    {% for link in linklists.footer-why-buy-menu.links %}
                        {% comment %}
                        Create a dropdown menu by naming a linklist the same as a link in the parent nav

                        More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                        {% endcomment %}
                        {% assign child_list_handle = link.title | handleize %}
                        {% if linklists[child_list_handle].links != blank %}
                            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                                <a href="{{ link.url }}">
                                    {{ link.title }}
                                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                                </a>
                                <ul class="site-nav__dropdown">
                                    {% for childlink in linklists[child_list_handle].links %}
                                        <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                            <a href="{{ childlink.url }}" >{{ childlink.title | escape }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li {% if link.active %}class="site-nav--active"{% endif %}>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            </div>
            <div class="grid__item large--one-quarter medium--one-third small--one-whole footer-menu-wrap medium-down--text-center">
                <h5>Get in Touch</h5>
                {% comment %}
                List out your footer-menu linklist (default)

                More info on linklists:
                - http://docs.shopify.com/themes/liquid-variables/linklists
                {% endcomment %}
                <!-- begin site-nav -->
                <ul class="footer-nav orange">
                    {% for link in linklists.footer-why-buy-menu.links %}
                        {% comment %}
                        Create a dropdown menu by naming a linklist the same as a link in the parent nav

                        More info on dropdowns:
                        - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
                        {% endcomment %}
                        {% assign child_list_handle = link.title | handleize %}
                        {% if linklists[child_list_handle].links != blank %}
                            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
                                <a href="{{ link.url }}">
                                    {{ link.title }}
                                    <span class="icon icon-arrow-down" aria-hidden="true"></span>
                                </a>
                                <ul class="site-nav__dropdown">
                                    {% for childlink in linklists[child_list_handle].links %}
                                        <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                                            <a href="{{ childlink.url }}" >{{ childlink.title | escape }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li {% if link.active %}class="site-nav--active"{% endif %}>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            </div>            
          {% if settings.footer_social_enable %}
              <div class="grid__item large--one-quarter medium--one-whole footer-menu-wrap  medium-down--text-center">
              <h5>{{ 'layout.footer.social_title' | t }}</h5>
                <ul class="inline-list social-icons orange">
                  {% if settings.social_twitter_link != blank %}
                    <li>
                      <a href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        Twitter
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_facebook_link != blank %}
                    <li>
                      <a href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                        Facebook
                      </a>
                    </li>
                  {% endif %}
                </ul>
            </div>
          {% endif %}
          

        </div>
      </div>
      </div>
      <!-- end footer-menus -->
    </footer>
  <!-- //site-footer -->
  <hr class="no-pad no-margin">
  <div class="footer_secondary">
     <div class="footer__section footer--light">
        <div class="wrapper">

          <div class="grid--full grid--table flex v-center">
              <div class="grid__item large--one-third" style="position: relative">
                {% comment %}
                Use the uploaded logo from theme settings if enabled.
                Site name gets precedence with H1 tag on homepage, div on other pages.
                {% endcomment %}
                {% if template == 'index' %}
                <h1 class="site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                  {% else %}
                  <div class="h1 site-header__logo large--left" itemscope itemtype="http://schema.org/Organization">
                    {% endif %}
                    {% if settings.logo_use_image %}
                      <a href="/" itemprop="url" class="site-header__logo-link">
                        {% include 'logo' %}
                      </a>
                    {% else %}
                      <a href="/" itemprop="url">{{ shop.name }}</a>
                    {% endif %}
                    {% if template == 'index' %}
                </h1>
                {% else %}
              </div>
              {% endif %}
            </div>
            <div class="grid__item large--one-quarter large--text-center medium--one-half flex v-center med-pad">
              <a href="https://goo.gl/maps/4q7jECyxaQu" target="_blank" class="site-header__cart-toggle js-drawer-open-right flex v-center" aria-controls="CartDrawer" aria-expanded="false">            
                <i class="ion-ios-location-outline header-icon"></i>
                {{ shop.address.street }}, {{ shop.address.city }} VIC {{ shop.address.zip }}
               </a> 
            </div>
            <div class="grid__item large--one-quarter large--text-center medium--one-half flex v-center med-pad">
              <a href="tel:{{ shop.phone }}" class="site-header__cart-toggle js-drawer-open-right flex v-center" aria-controls="CartDrawer" aria-expanded="false">          
                <i class="ion-ios-telephone-outline header-icon" style="transform: rotate(45deg)"></i>         
                {{ shop.phone }} 
              </a>
            </div>
            <div class="grid__item large--one-quarter large--text-right medium--one-whole flex v-center">

                  {% comment %}
                  Loop through available paymenft methods and show their icons.
                  {% endcomment %}
                  {% unless shop.enabled_payment_types == empty %}
                  {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,laser,litecoin,maestro,master,paypal,solo,stripe,switch,visa' | split: ',' %}
                  <ul class="inline-list payment-icons flex v-center" style="margin:0;">
                        <li>
                            <span class="icon-fallback-text">
                              <span class="icon icon-paypal" aria-hidden="true"></i>
                              <span class="fallback-text">Paypal</span>
                            </span>
                        </li>
                      {% for type in shop.enabled_payment_types %}
                          {% if payment_icons_available contains type %}
                              <li>
                            <span class="icon-fallback-text">
                              <span class="icon icon-{{type}}" aria-hidden="true"></span>
                              <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                            </span>
                              </li>
                          {% endif %}
                      {% endfor %}
                  </ul>
                  {% endunless %}

          </div>
      </div>

    </div>
    </div>
      <div class="footer__section footer--light">
        <div class="wrapper">
          <div class="grid">
            <div class="grid__item large--one-half text-left medium-down--text-center">

              <a href="#">
                <p>&copy; {{ 'now' | date: "%Y" }} {{shop.name}}</p>
              </a> 

            </div>        
            <div class="grid__item large--one-half text-right medium-down--text-center">

                <a href="http://brendanmicallef.com/"><small>Design by</small> BM Digital</a>&nbsp;<a href="http://www.swish.online"><small>Built by </small>Swish</a> <a href="https://www.shopify.com/?ref=swish-web-developers" title="Shopify.com"><small> in </small>Shopify</a><br>

            </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '#AddToCartForm',
          cartContainer: '#CartContainer',
          addToCartSelector: '#AddToCart',
          cartCountSelector: '#CartCount',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
      });

      jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
        // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });

    jQuery(document).ready(function(){

        $('.carousel').slick({
          dots: false,
          speed: 300,
          autoplay: true,
          autoplaySpeed: 2000,
          arrows: false,
          infinite: true,
          responsive: [
          {
            breakpoint: 769,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3
            }
          },
          {
            breakpoint: 481,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          },          
          ]
        }); 

      });
    </script>
  {% endif %}




</body>
</html>
