<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}


{% if settings.homepage_slideshow %}
  {% include 'slider' %}
{% endif %}


{% comment %}
Use class grid-uniform to have evenly sized columns clear
each other properly at each breakpoint.
{% endcomment %}

<div class="grid-uniform">

  {% comment %}
    Show ten collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top eleven returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for collection in collections limit:11 %}
    {% unless index > 10 %}

      {% unless collection.handle == 'frontpage' %}
        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-half small--one-whole' %}
        <div class="grid__item {{ collection_item_width }} text-left">
          <div class="grid-uniform">
            {% comment %}
              Use capture to put the collection title in a variable that is used in liquid filters
            {% endcomment %}
            {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

            <div class="grid__item {{ collection_item_width }} text-left">
              <H1>
                <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a>
              </H1>
              <button type="button" class="button--details">
                Details
                <span class="icon icon-arrow-down" aria-hidden="true"></span>
              </button>
            </div>

            <div class="grid__item {{ collection_item_width }} text-left">
              <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid__image">
                {% if collection.image %}
                  {{ collection.image.src | img_url: 'large' | img_tag: collection_title }}
                {% else %}
                  {{ collection.products.first.featured_image | img_url: 'large' | img_tag: collection_title }}
                {% endif %}
              </a>
            </div>

          </div>
        </div>
        {% assign index = index | plus: 1 %}
      {% endunless %}

    {% endunless %}
  {% endfor %}

  {% comment %}
    For onboarding new users to your theme, we add some default collections and onboarding tutorials to help populate their store
  {% endcomment %}

  {% if isEmpty %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}

</div>

<hr>

{% comment %}
Use slick slider carousel to loop through the brands we stock
{% endcomment %}

{% if settings.homepage_slideshow %}
  {% include 'carousel' %}
{% endif %}



<div class="grid">
    <div class="grid__item large--one-whole">
        Retro spares info text here...
    </div>
</div>
