
<!-- /templates/page.product-type.liquid -->
{% comment %}

  This is the page that shows 'collections of collections' when there is a linklist with the same handle as the page.  Don't forget to create the page and linklist, then set the page template to this one.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% include 'breadcrumb' %}

{% comment %}
grab the url for the current page (as liquid sees it), this is only relevant to isolate the word I want
{% endcomment %}
{% capture custom_url %}{{ shop.url}}{{ page.url }}{% endcapture %}

{% comment %}
grab the actual current url and remove everything but the last word i want
{% endcomment %}
{% capture car_make %}{{ canonical_url  | remove: custom_url | remove: '/' }}{% endcapture %}


{% comment %}
call the related linklist for this page to display a 'collection of collections'
{% endcomment %}
{% capture type %}{{ page.handle }}{% endcapture %}
{% assign stored_linklist = linklists.[type].links %}

{% comment %}
Use class grid-uniform to have evenly sized columns clear
each other properly at each breakpoint.
{% endcomment %}

<div class="grid-uniform flex wrap">

  {% comment %}
    Show ten collections, unless it's 'frontpage'.

    Use an index variable in combination to the limit filter
    to account for the frontpage collection being in top eleven returned.

    Use variable isEmpty to check if no collections will be shown.
    For empty store demo only.
  {% endcomment %}
  {% assign index = 1 %}
  {% assign isEmpty = true %}

  {% for link in stored_linklist %}
    {% assign collection = link.object %}

        {% assign isEmpty = false %}
        {% assign collection_item_width = 'large--one-half medium--one-half small--one-whole' %}
        <div class="grid__item {{ collection_item_width }} text-left flex wrap half-pad">
            <div class="grey card flex wrap">
              <div class="grid-uniform">
                {% comment %}
                  Use capture to put the collection title in a variable that is used in liquid filters
                {% endcomment %}
                {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

                <div class="grid__item {{ collection_item_width }} text-left higher">
                  <H2 class="upper"><a class="word_split" href="{{ link.url }}/{{ car_make }}" title="Browse our {{ car_make }} {{ link.title | escape }}">{% if car_make != blank %}{{ car_make }} {% endif %}{{link.title | strip }}</a></H2>
                </div>

                <div class="grid__item {{ collection_item_width }} text-left">
                  <a href="{{ link.url }}/{{ car_make }}" title="Browse our {{ car_make }} {{ link.title | escape }} ">
                    {% if link.object.image.src %}
                    <!-- collection image -->
                      <img src="{{ link.object.image.src | collection_img_url: 'large' }}" alt="{{ link.title | escape }}" />
                    {% elsif link.type == "page_link" %}
                    <!-- if it links to a page, get the image from that page -->
                        {{ collection.content }}
                    {% else %}
                      <!-- if there's no collection image or page image, show the first product image instead -->
                      <img src="{{ link.object.products.first.featured_image | product_img_url: 'large' }}" alt="{{ link.title | escape }}" />
                    {% endif %}
                    
                  </a>
                </div>

                <a href="{{ link.url }}/{{ car_make }}" title="Browse our {{ car_make }} {{ link.title | escape }}" class="product-hover--btn">
                  <span class="input-group-btn">
                      <div class="btn btn--full arrow-after">SHOP NOW &nbsp; &nbsp;
                      <i class="ion-ios-arrow-forward"></i></div>
                  </span>
                </a>

              </div>
            </div>
        </div>
        {% assign index = index | plus: 1 %}

  {% endfor %}

</div>

<hr>

<div class="grid">


  {% comment %}
  Use slick slider carousel to loop through the brands we stock
  {% endcomment %}

  {% if settings.homepage_slideshow %}
    {% include 'carousel' %}
  {% endif %}

</div>

